.card-body-dark {
  width: 32%;
  height: 350px;
  background-color: #ababab;
  border-radius: 20px;
  border-color: black;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-overflow: ellipsis;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-body-light {
  width: 32%;
  height: 350px;
  background-color: #dfdfdf;
  border-radius: 20px;
  border-color: black;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  text-overflow: ellipsis;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
/* .card-backgroud {
  background-color: #ababab;
} */

.heart {
  text-align: end;
  height: 40px;
  padding-right: 40px;
}
.count {
  text-align: start;
  padding-left: 20px;
  padding-bottom: 60px;
  position: relative;
  right: 2px;
  bottom: 38px;
  color: white;
}
.image {
  padding: 10px;
  padding-bottom: 10px;

  /* margin-bottom: 0px; */
}
.song-image {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border-color: black;
  border: solid;
  margin: 0px;
}
.lower-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.song-left {
  padding-left: 30px;
  text-align: left;
  padding-bottom: 20px;
  text-overflow: ellipsis;
}
.song-name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
}
